{% extends "base_generic.html" %}

{% block tittle %}
{{ dish.name }}
{% endblock %}

{% block main %}
<h3>Order 
    <span id="dish-type">{{ dish.type }}</span>:
</h3> 
<h4>{{ dish.name }}</h4>

<br>

<form action="" method="post">
    {% csrf_token %}
    <div id="subX" class="form-group" style="display: none">
        <label>Sub Extra(s)</label>
        {% for item in form.subx %}
        <div class="form-check">
            {{ item }}
        </div>
        {% endfor %} 

        {% for error in form.subx.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    <div id ="topping" class="form-group" style="display: none">
        <label for="id_topping">Topping(s)</label>
        <select multiple class="form-control" name="topping" id="id_topping">
            {% for item in form.topping %}
                {{ item }}
            {% endfor %}      
        </select>

        <small style="color: grey">{{ form.topping.help_text }}</small>
        {% for error in form.topping.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    <div id="size" class="form-group" style="display: none">
        <label for="id_size">Size:</label>
        <select class="form-control" name="size" id="id_size">
            {% for item in form.size %}
                {{ item }}
            {% endfor %}
        </select> 

        {% for error in form.size.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    <div id="quantity" class="form-group">
        <label for="id_quantity">Quantity:</label>
        <select class="form-control" name="quantity" id="id_quantity">
            {% for item in form.quantity %}
                {{ item }}
            {% endfor %}
        </select>

        {% for error in form.quantity.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    ====================
    <div>
        <b>Price: $
            {% if dish.type == 'Pasta' or dish.type == 'Salad' %}
            <span id="id_price" value="{{ price.na }}">{{ price.na }}</span>
            {% else %}
            <span id="id_price" value="{{ price.small }}">{{ price.small }}</span>
            {% endif %}
        </b>
    </div>

    <br><br>
    <div class="p-2 bd-highlight">
        <button class="btn btn-primary" type="submit">Add to cart</button>   
    </div>
</form>


<script>
// Select sections to show based on dish type
var dishtype = document.querySelector('#dish-type').innerHTML;
if (dishtype === 'Pizza') {
    document.querySelector('#topping').style.display = "block";
    document.querySelector('#size').style.display = "block";
}

if (dishtype === 'Sub') {
    document.querySelector('#subX').style.display = "block";
    document.querySelector('#size').style.display = "block";
}

if (dishtype === 'Dinner Platter') {
    document.querySelector('#size').style.display = "block";
}

// Display price based on size and quantity
var size = document.querySelector('#id_size');
var size_value = size.options[size.selectedIndex].value;

var quantity = document.querySelector('#id_quantity');
var quantity_value = quantity.options[quantity.selectedIndex].value;

var price = document.querySelector('#id_price');
var price_from_size = price.getAttribute('value');
var final_price;

size.onchange = () => {
    size_value = size.options[size.selectedIndex].value;

    if (size_value == 'l') {
        price.setAttribute('value', '{{ price.large }}');
        price_from_size = price.getAttribute('value');
        
    }
    else {
        price.setAttribute('value', '{{ price.small }}');
        price_from_size = price.getAttribute('value');
    }
    
    final_price = parseFloat(price_from_size) * parseInt(quantity_value);
    price.innerHTML = final_price.toString();
}

quantity.onchange = () => {
    quantity_value = quantity.options[quantity.selectedIndex].value;
    final_price = parseFloat(price_from_size) * parseInt(quantity_value);
    
    // Show price with 2 decimal places, toFixed also convert number to string
    price.innerHTML = final_price.toFixed(2);
}





</script>

{% endblock %}