{% extends "base_generic.html" %}

{% block tittle %}
Change order status
{% endblock %}

{% block main %}
<div class="container my-5 pb-5">
    <div class="row mx-0">
        <div class="my-4 px-0 col-12 single-order-heading">
            <h1>Order #{{ order_instance.id }}</h1>
            <p><b>Buyer: </b>{{ order_instance.created_by }}</p>
            <p><b>Current status: </b>
                <span id="current_status">{{ order_instance.get_status_display }}</span>
            </p>
        </div>

        <form method="post">
            {% csrf_token %}
            <label for="id_status">New status:</label> 
            <select class="form-control" name="status" id="id_status">
                {{ form.status.2 }}
                {{ form.status.3 }}
            </select>
            <small style="color: grey">{{ form.status.help_text }}</small>
            {% for error in form.status.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}

            <div class="my-3">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}