{% extends "base_generic.html" %}

{% block tittle %}
Order #{{ order.id }}
{% endblock %}

{% block main %}
<h1>Order #{{ order.id }}</h1>

<p><b>Status: </b>{{ order.get_status_display }}</p> 
<p><b>Total price: </b>$ {{ order.total_price }}</p> 

<h4>Items</h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Notes</th>
            <th scope="col">Size</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.item_set.all %}
        <tr>
            <td>{{ item.item }}</td>
            {% if item.display_topping %}
            <td>{{ item.display_topping }}</td>
            {% elif item.display_subx %}
            <td>{{ item.display_subx}}</td>
            {% else %}
            <td>N/A</td>
            {% endif %}
            <td>{{ item.get_size_display }}</td>
            <td>{{ item.quantity }}</td>
            <td>$ <span class="item-price">{{ item.price }}</span></td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% if perms.orders.can_change_status %}
    <div class="text-center py-3">
        <a href="{% url 'change-order-status' order.pk %}">
            <button class="btn btn-primary" type="submit">Change status</button>
        </a>
    </div>
{% endif %}
{% endblock %}