{% extends "base_generic.html" %}

{% block tittle %}
Register
{% endblock %}

{% block main %}
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <p style="color: black;">
            {{ field.label_tag }}<br>
            {{ field }}

            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <div class="my-5 pb-5">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
{% endblock %}